body
{
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(103,252,70,1) 100%);
    text-align: center;
}
h1
{
    border-color: blue; 
    border-width: .25em; 
    border-style: double;
}
section
{
    border-color: darkred; 
    border-width: .25em; 
    border-style: inset;
    margin: 2em;
}